## Final Project Submission

Please fill out:
* Student name: Joan Nyamache
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: Asha Deen
* Blog post URL:N/A



Phase 1 Project:

Microsoft Movie Studio


Introduction

1. Overview 

The project aims to provide data-driven insights to support Microsoft's new movie studio in establishing a successful presence in the movie industry. The goal is to help Microsoft's new movie studio understand what kinds of movies are currently popular at the box office. We'll look at things like the types of movies people are watching the most, who is watching them, and how much money they're making. By doing this research, we aim to give the studio useful information that they can use to decide what kind of movies to make. This means figuring out which genres and themes are likely to attract the most viewers and make the most money. Ultimately, our objective is to give Microsoft's movie studio the insights they need to create successful movies that people will enjoy watching."

2. Project Goals

Project goals include the following: -
.	To investigate the current movie trends, in accordance to the Box Office Productions
.	To examine the necessary statistics that will be used to determine the movies that are succeeding at the Box Office.
.	To translate the findings into actionable insights that will be used by Microsoft Studio to make informed decisions to produce good movies.
.	To provide recommendations on the types of films that are likely to be successful in the future.

3. Business Understanding

This project's goal and objective is to investigate the kinds of movies that are currently doing well at the Box Office and offer useful information that Microsoft can use to decide what kinds of movies to make. In order to determine the most popular genres, actors, directors, and other elements that influence a film's industry success, the project will involve evaluating movie data.

4. Data Sources

The datasets are stored in the 'zippedData' folder and were sourced from:

Box Office MojoLinks
bom.movie_gross.csv

IMDBLinks
im.db

Rotten TomatoesLinks
rt.movie_info.tsv

TheMovieDBLinks
tmdb.movies.csv

The Numbers
tn.movie_budget.csv

Importing the relevant libraries

In [5]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt

Loading Data from Datasets

In [9]:

#tmovies_budget=pd.read_csv(r"zippedData\tmdb.movies.csv\tmdb.movies.csv")

#tnmovies_budget=pd.read_csv(r"zippedData\tn.movie_budgets.csv\tn.movie_budgets.csv")

#trmovie_info=pd.read_csv(r"zippedData\rt.movie_info.tsv\rt.movie_info.tsv", sep='\t')

#rtreview_tsv=pd.read_csv(r"zippedData\rt.reviews.tsv\rt.reviews.tsv", sep='\t', encoding='latin1')

#bom_movies=pd.read_csv(r"zippedData\bom.movie_gross.csv\bom.movie_gross.csv")

Box Office Movies

In [10]:
bom_movies = pd.read_csv('zippedData/bom.movie_gross.csv.gz')

bom_movies.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [11]:
bom_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

The Movie Database (TMDB)

In [12]:
tmdb_movies = pd.read_csv('zippedData/tmdb.movies.csv.gz')

tmdb_movies.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [13]:
tmdb_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

Rotten Tomatoes Movie Information

In [15]:
rt_movie_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz', delimiter='\t')

rt_movie_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [16]:
rt_movie_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB